# Python If Else - Python Conditions and If statements

In [1]:
# If statement  

a = 33
b = 200

if b > a:
    print("b is greater than a")

b is greater than a

# Python If Else - Indentation

In [3]:
# If statement, without indentation (will raise an error)

a = 33
b = 200

if b > a:
print("b is greater than a") # you will get an error because of no indentation

b is greater than a

# Python If Else - Elif

In [4]:
a = 33
b = 33

if b > a:
    print("b is greater than a")
elif b == a:
    print("a and b are equal")

a and b are equal

# Python If Else - Else

In [5]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [6]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

# Python If Else - Short Hand If

In [7]:
# One line if statement

if a > b: print("a is greater than b")

a is greater than b

# Python If Else - Short Hand If ... Else

In [8]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [10]:
# One line if else statement, with 3 conditions

a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")
# With only one line, if else with 3 condition. else print("=") if a == b is a one whole conditions

B

# Python If Else - And

In [13]:
# Test if a is greater than b, AND if c is greater than a

a = 200
b = 33
c = 500

if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

# Python If Else - Or

In [14]:
# test if a is greater than b, OR if a is greater than c

a = 200
b = 33
c = 500

if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

# Python If Else - Not

In [16]:
# Test if a is NOT greater than b

a = 33
b = 200

if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

# Python If Else - Nested If

In [17]:
x = 41

if x > 10:
    print("Above 10,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but nit above 20.")

Above 10,
and also above 20!

# Python If Else - The pass Statement

In [18]:
a = 33
b = 200
 
if b > a:
    pass

# Python While Loops - The while Loop

In [2]:
# Print i as long a i is less than 6

i = 1
while i < 6:
    print(i)
    i+=1

1
2
3
4
5

# Python While Loops - The break Statement

In [9]:
# Exit the loop when i is 3

i=1
while i < 6:
    print(i)
    if i == 3:
        break
    i+=1

1
2
3

# Python While Loops - The continue Statement

In [8]:
# Continue to the next iteration if i is 3

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue # continue will make the loop go to the next i, doesn't matter what's next after the 'continue' line
    print(i)

1
2
4
5
6

# Python While Loops - The else Statement

In [11]:
# Print a message once the condition is false

i = 1
while i < 6:
    print(i)
    i += 1
else: 
    print("i is no longer less than 6") # else statement in a while will print one time if the while loop is false

1
2
3
4
5
i is no longer less than 6

# Python For Loops - Python For Loops

In [12]:
# Print each fruit in a fruit list

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

# Python For Loops - Looping Through a String

In [13]:
# loop through the letters in the word "banana"

for x in "banana":
    print(x)

b
a
n
a
n
a

# Python For Loops - The break Statement

In [16]:
# Exit the loop when x is "banana"

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [17]:
# Exit the loop when x is "banana", but this time the break comes before the print

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        break
    print(x)

apple

# Python For Loops - The continu Statement

In [18]:
# Do not print banana

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# Python For Loops - The range() Function

In [19]:
# Using the range() function

for x in range(6): # Will print from 0 - 5
    print(x)

0
1
2
3
4
5

In [22]:
# Using the start parameter

for x in range(2, 6):
    print(x)

2
3
4
5

In [25]:
# Increment the sequence with 3 (default is 1)

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

# Python For Loops - Else in For Loop

In [26]:
# Print all numbers from 0 to 5, and print a message when when the loops has ended

for x in range(0, 6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [27]:
# Break the loop when x is 3, and see what happend with the else block

for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

# Python For Loops - Nested Loops

In [29]:
# Print each adjective for every fruit

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x,y) # To print both adjective and fruits

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python For Loops - The pass Statement

In [30]:
for x in [0, 1, 2]:
    pass

# Python Functions - Creating a Function

In [31]:
def my_function():
    print("Hello from a function")

# Python Functions - Calling a Function

In [32]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

# Python Functions - Arguments

In [34]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

# Python Functions - Number of Arguments

In [35]:
# This function expects 2 arguments, and gets 2 arguments

def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [37]:
# This function expects 2 arguments, but gets only 1

def my_function(fname , lname):
    print(fname + " " + lname)

my_function("Emil")

# Python Functions - Arbitrary Arguments, *args

In [40]:
# If the number of arguments is unnkown, add a * before the parameter name

def my_function(*kids): # For the unkown number of parameter use * before the variable of parameter
    print("The youngest child is " + kids[2]) # To pick kids in index 2 at the below variable of input
    
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# Python Functions - Keyword Arguments

In [42]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 ="Tobias", child3 = "Linus") # With key = value

The youngest child is Linus

# Python Functions - Arbitrary Keyword Arguments, **kwargs

In [43]:
# If the number of keyword arguments is unknown, add a double ** before the parameter name

def my_function(**kid):
    print("His last name is " + kid["lname"])
    
my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

# Python Functions - Default Parameter Value

In [44]:
def my_function(country = "Norway"):
    print("I am from " + country)
    
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# Python Functions - Passing a List as an Argument

In [45]:
def my_function(food): # food is just an arguments to replace the variable fruits
    for x in food:
        print(x)
    
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# Python Functions - Return Values

In [50]:
def my_function(x):
    return 5*x

print(my_function(3)) 
print(my_function(5)) # We have to use print(function) because the function will give an output of the last execution. only the last execution or the last line
print(my_function(9))

15
25
45

# Python Functions - The pass Statement

In [52]:
def myfunction():
    pass

# Python Functions - Recursion

In [55]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k-1) # Will calculate the tri_recursion(k-1) fist to collect the result of tri_recursion(k)
        print(result)
    else: # Untill it got to else which result = 0
        result = 0 # else will result to 0 so the final result will be a sum of all number from 1 to 6
    return result

print("\n\nRecursion Example Results") 
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda - Syntax

In [57]:
# Add 10 to argument a, and return the result

x = lambda a : a + 10
print(x(5)) # x(a) = x(5)

15

In [58]:
# Multiply argumemt a with argument b and return the result

x = lambda a, b : a * b
print(x(5, 6))

30

In [59]:
# Summarize argument a, b, c and return the result

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

# Python Lambda - Why Use Lambda Functions?

In [ ]:
def myfunc(n):
    return lambda a : a * n

In [60]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [61]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [62]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python Arrays - Arrays

In [1]:
# Create an array containing car names

cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']

# Python Arrays - Access the Elements of an Array

In [2]:
# Get the value of the first array item

cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)

Ford

In [5]:
# Modify the value of the first array item

cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

# Python Arrays - The Length of an Array

In [7]:
# Return the number of elements in the cars array

x = len(cars)
print(x)

3

# Python Arrays - Looping Array Elements

In [8]:
# Print each item in the cars array

cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

# Python Arrays - Adding Array Elements

In [9]:
# Add one more element to the cars array

cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

# Python Arrays - Removing Array Elements

In [10]:
# Detele the second element of the cars array

cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

In [11]:
# Delete the element that has the value "Volvo"

cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW']

# Python Classes and Objects - Create a Class

In [12]:
# Create a class named MyClass, with a property named x

class MyClass:
    x = 5
    
print(MyClass)

<class '__main__.MyClass'>

# Python Classes and Objects - Create Object

In [14]:
# Create an object named p1, and print the value of x

p1 = MyClass() # p1 is the object of class named MyClass()
print(p1.x) # then print the value of x in MyClass() by operating p1 with x which is p1.x

5

# Python Classes and Objects - The __init__() Function

In [40]:
# Create a class named Person, use the __init__() function to assign values for name and age

class Person:
    def __init__(self, name, age): # Make a __init__() function and with self parameter as the first parameter so we can operates them with the other parameters
        self.name = name # Operates self with name by giving self.name = name
        self.age = age # same with age variables
        
p1 = Person("John", 36) # Make an object called p1 with class Person inside and the values

print(p1.name)
print(p1.age)

John
36

# Python Classes and Objects - The __str__() Function

In [39]:
# The string representation of an object WITHOUT the __str__() function

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x00000265EE7354C0>

In [30]:
# The string representation of an object WITHOUT the __str__() function

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self): # There is a __str__() function with only the self parameter inside
        return f"{self.name}({self.age})" # That will return the name and age by writing a f"{self.name}({self.age})"
    
p1 = Person("John", 36)

print(p1)

John(36)

# Python Classes and Objects - Object Methods

In [32]:
# Insert a function that prints a greeting, and execute it on the p1 object

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self): # Make a function that has the self parameter from __init__ function because we will call one of the __init__ parameter which is name, so we have to call the self from __init__
        print("Hello my name is " + self.name) # Call the self.name from __init__() function
        
p1 = Person("John", 36)
p1.myfunc() # Call the p1 object and operates it with the greeting function

Hello my name is John

# Python Classes and Objects - The self Parameter

In [35]:
# Use the words mysillyobject and abc instead of self

class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
        
    def myfunc(abc): # It is allowed to have different name of parameter for every first parameter in each function
        print("Hello my name is " + abc.name)
        
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Python Classes and Objects - Modify Object Properties

In [43]:
# Set the age of p1 to 40

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
p1 = Person("John", 36)

print(p1.name)
print(p1.age)

p1.age = 40

print(p1.age)

John
36
40

# Python Classes and Objects - Delete Object Properties

In [46]:
# Delete the age property rom the p1 object

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name, p1.age)

del p1.age

print(p1.age)

John 36

# Python Classes and Objects - Delete Objects

In [49]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name, p1.age)

del p1

print(p1.name)

John 36

# Python Classes and Objects - The pass Statement

In [50]:
class Person:
    pass

# Python Inheritance - Create a Parent Class

In [53]:
# Create a class named Person, with firstname and lastname properties, and a printname method

class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
# use the Person class to create an object, and then execute the printname method

x = Person("John", "Doe")

x.printname()

John Doe

# Python Inheritance - Create a Child Class

In [52]:
# Creating a class named Student, which will inherit the properties and methods from the Person class

class Student(Person): # build a parameter inside the child class
    pass

In [57]:
# Use the Student class to create an object, and then execute the printname method

class Student(Person):
    pass

p1 = Student("Taylor", "Swift")
p1.printname() # from Person class but you can call it on Student's object

Taylor Swift

# Python Inheritance - Add the __init__() Function

In [ ]:
# Add the __init__() function to the Student class

class Student(Person):
    def __init__(self, fname, lname):
        # add properties

In [58]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
x = Person("John", "Doe")

x.printname()

class Student(Person): #
    def __init__(self, fname, lname): # make an __init__ function inside the child class
        Person.__init__(self, fname, lname) # but call the parent's __ini__() function aswell
        
p1 = Student("Taylor", "Swift")

p1.printname()

John Doe
Taylor Swift

# Python Inheritance - Use the super() Function

In [62]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
x = Person("Taylor", "Swift")

x.printname()

class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname) # With super() you don't need to call the self or the first parameter of parent class
        
p1 = Student("Arruum", "Kiranadjie")

p1.printname()

Taylor Swift
Arruum Kiranadjie

# Python Inheritance - Add Properties

In [75]:
# Add a property called graduationyear to the Student Class

class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
x = Person("Taylor", "Swift")

x.printname()

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        #self.graduationyear = 2019
        self.graduationyear = year # You can use this too
        
p1 = Student("Arruum", "Kiranadjie", "2019")

print(x.lastname)
print(p1.firstname)
print(p1.graduationyear)

Taylor Swift
Swift
Arruum
2019

# Python Inheritance - Add Methods

In [78]:
# Add a method called welcome to the Student class

class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
x = Person("Taylor", "Swift")

x.printname()

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year
        
    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)
        
p1 = Student("Arruum", "Kiranadjie", "2019")

p1.welcome() # Operates the object with the new method / function

Taylor Swift
Welcome Arruum Kiranadjie to the class of 2019

# Python Iterators - Iterator vs Iterable

In [4]:
# Return an iterator from a tuple, and print each value

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple) # Make a variable to contain the iter method with tuple as the parameter

print(next(myit)) # print the iterartion of the first
print(next(myit)) # and the next
print(next(myit)) # and the next

apple
banana
cherry

In [7]:
# Strings are also iterable objects, containing a sequence of characters

mystr = "banana" 
myit = iter(mystr) # With string as the object

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

# Python Iterators - Looping Through an Iterator

In [8]:
# Iterate the values of a tuple

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry

In [9]:
# Iterate the characters of a string

mystr = "banana"

for x in mystr:
    print(x)

b
a
n
a
n
a

# # Python Iterators - Create an Iterator

In [10]:
# Create an iterator that returns nuumbers starting with 1, and each sequence will increase by one (returning 1, 2, 3 etc.)

class MyNumbers: # Make a Class
    def __iter__(self): # __iter__() methods acts similar to __init__() method with the parameter self
        self.a = 1 # Declaring that self.a (with a is a variable that represent the number now) to self.a = 1, because 1 as the start of the number that will do the addition
        return self # returning as the self itself
    
    def __next__(self): # __next__() method as the operation method with the self parameter for the next iteration
        x = self.a # make a variable named x that equls to self.a so we can call the value of the first a so we write x = self.a
        self.a += 1 # operation of addition
        return x # return the value x, which is the total value
    
myclass = MyNumbers() # make an object of the class, we call myclass = MyNumbers()
myiter = iter(myclass) # make a declaration of myiter = iter(myclass)

print(next(myiter)) 
print(next(myiter)) 
print(next(myiter)) 
print(next(myiter)) 
print(next(myiter))

1
2
3
4
5

# Python Iterators - StopIteration

In [17]:
# Stop after 20 iterations

class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        if self.a <=20:
            x = self.a
            self.a += 1
            return x 
        else:
            raise StopIteration
            
myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter: # for simple form iterations
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Python Polymorphism - Function Polymorphism - String

In [18]:
x = "Hello World!"

print(len(x))

12

# Python Polymorphism - Function Polymorphism - Tuple

In [19]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

# Python Polymorphism - Function Polymorphism - Dictionary

In [21]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

print(len(thisdict))

3

# Python Polymorphism - Class Polymorphism

In [27]:
# Different classes with the same method

class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        
    def move(self):
        print("Drive!")
    
class Boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        
    def move(self):
        print("Sail!")
        
class Plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        
    def move(self):
        print("Fly!")
        
car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
    x.move()

print(" ")
car1.move()
boat1.move()
plane1.move()

Drive!
Sail!
Fly!

Drive!
Sail!
Fly!

# Python Polymorphism - Inheritance Class Polymorphism

In [28]:
# Create a class Vehicle and make Cra, Biat, Plane child classes of Vehicle

class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    
    def move(self):
        print("Move!")

class Car(Vehicle): # Child class
    pass

class Boat(Vehicle): # Child class
    def move(self): # declaration of move()
        print("Sail!")
        
class Plane(Vehicle): # Child class
    def move(self):
        print("Fly!")
        
car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in(car1, boat1, plane1):
    print(x.brand)
    print(x.model) 
    x.move() # Will gets override from move() in class Boat and Plane

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

# Python Scope - Local Scope

In [29]:
# A variable created inside a function is available inside that function

def myfunc():
    x = 300
    print(x)
    
myfunc()

300

# Python Scope - Local Scope - Function Inside Function

In [31]:
# The local variable can be accessed from a function within the function

def myfunc():
    x = 300
    def myinnerfunc(): # function inside a function
        print(x)
    myinnerfunc() # Call the inner function INSIDE the main function like a print wise
     
myfunc()

300

# Python Scope - Global Scope

In [32]:
# A variable created outside of a function is global and can be used by anyone
    
x = 300
   
def myfunc():
    print(x)
    
myfunc()

print(x)

300
300

# Python Scope - Global Scope - Naming Variables

In [33]:
# The function will print the local x, and then the code will print the global x

x = 300

def myfunc():
    x = 200
    print(x)

myfunc()

print(x)

200
300

# Python Scope - Global Keyword

In [41]:
# If you use the global keyword, the variable belongs to the global scope

def myfunc():
    global x
    x = 300
    
myfunc()  

print(x)

300

In [42]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword

x = 300

def myfunc():
    global x
    x = 200
    
myfunc()

print(x)

200

# Python Modules - Use a Module

In [18]:
# Import the module named mymodule, and call the greeting function

import mymodule # Importing the module

mymodule.greeting("Arruum") # Operates the module with the function inside that module and give the value to it

Hello, Arruum

# Python Modules - Variables in Module

In [19]:
# Import the module named mymodule, and access the person1 dictionary

import newmodule

a = newmodule.person1["age"]
print(a)

36

# Python Modules - Re-naming a Module

In [22]:
# Create an alias for newmodule called mx

import newmodule as mx

a = mx.person1["age"]
print(a)

36

# Python Modules - Built-in Modules

In [24]:
# Import and use the platform module

import platform

x = platform.system()
print(x)

Windows

# Python Modules - Using the dir() Function

In [25]:
# List all defined names belonging to the platform module

import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

# Python Modules - Import From Module

In [27]:
# Import only the person1 dictionary from the module

from themodule import person1 # Using the from keyword to choose only the ones we want to import from the module

print(person1["age"])

36

# Python Datetime - Python Dates

In [28]:
# import the datetime module and display the current date

import datetime

x = datetime.datetime.now()
print(x)

2023-08-17 01:47:35.312556

# Python Datetime - Date Output

In [29]:
# Return the year and name of weekday

import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2023
Thursday

# Python Datetime - Creating Date Objects

In [30]:
# Create a date object

import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

# Python Datetime - The strftime() Method

In [31]:
# Display the name of the month

import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

# Python Math - Built-in Math Functions

In [32]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [33]:
x = abs(-7.25)

print(x)

7.25

In [34]:
# Return the value of 4 to the power of 3 (same as 4 * 4 * 4)

x = pow(4, 3)

print(x)

64

# Python Math - The Math Module

In [35]:
import math

In [38]:
x = math.sqrt(64)

print(int(x))

8

In [40]:
x = math.ceil(1.4)
y = math.floor(1.4)

print(x)
print(y)

2
1

In [43]:
x = math.pi

print(x)

3.141592653589793

# Python JSON - JSON in Python

In [44]:
# Import the json module

import json

# Python JSON - Parse JSON - Convert from JSON to Python

In [46]:
# Convert from JSON to Python

import json

# some JSON
x = '{"name":"John", "age": 30, "city": "New York"}'

# parse x
y = json.loads(x)

# the result is a Python dictionary
print(y["age"])

30
{'name': 'John', 'age': 30, 'city': 'New York'}

# Python JSON - Convert from Python to JSON

In [48]:
# Convert from Python to JSON

import json

# a Python object (dict)
x = {
    "name " : "John",
    "age" : 30,
    "city" : "New York"
}

# convert into JSON
y = json.dumps(x)

# the result is a JSON string
print(y)

{"name ": "John", "age": 30, "city": "New York"}

In [49]:
# Convert Python objects into JSON strings, and print the values

import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [52]:
# Convert a Python object containing all the legal data types

import json

x = {
    "name" : "John",
    "age" : 30,
    "married" : True,
    "divorced" : False,
    "children" : ("Ann", "Billy"),
    "pets" : None,
    "cars" : [
        {"model": "BMW 230", "mpg": 27.5},
        {"model": "Ford Edge", "mpg": 24.1}
    ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

# Python JSON - Format the Result

In [53]:
# Use the indent parameter to define the numbers of indents

json.dumps(x, indent = 4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [56]:
# Use the separators parameter to change the default separator

json.dumps(x, indent = 4, separators = (".", "="))

'{\n    "name"="John".\n    "age"=30.\n    "married"=true.\n    "divorced"=false.\n    "children"=[\n        "Ann".\n        "Billy"\n    ].\n    "pets"=null.\n    "cars"=[\n        {\n            "model"="BMW 230".\n            "mpg"=27.5\n        }.\n        {\n            "model"="Ford Edge".\n            "mpg"=24.1\n        }\n    ]\n}'

# Python JSON - Order the Result

In [57]:
# Use the sort_keys parameter to specify if the result should be sorted or not

json.dumps(x, indent = 4, separators = (".", "="), sort_keys = True)

'{\n    "age"=30.\n    "cars"=[\n        {\n            "model"="BMW 230".\n            "mpg"=27.5\n        }.\n        {\n            "model"="Ford Edge".\n            "mpg"=24.1\n        }\n    ].\n    "children"=[\n        "Ann".\n        "Billy"\n    ].\n    "divorced"=false.\n    "married"=true.\n    "name"="John".\n    "pets"=null\n}'

# Python RegEx - RegEx Module

In [1]:
import re

# Python RegEx - RegEx in Python

In [3]:
# Search the string to see if it starts with "The" and ends with "Spain"

import re

txt = "The rain in Spain"

x = re.search("^The.*Spain$", txt) # Using the search method with the keyword
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

# Python RegEx - Metacharacters

In [17]:
# [] character

import re

txt = "The rain in Spain"

# Find all lower case characters alphabetically between "a" and "m"

x = re.findall("[a-m]", txt) # Using the findall function because we want to list all that matches and with the keyword we want we need which is "[a-m]"
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [18]:
# \ character

txt = "That will be 59 dollars"

# Find all digit characters

x = re.findall("\d", txt) # With special characters d
print(x)

['5', '9']

In [32]:
# . character

txt = "hello planet"

# Search for sequence that starts with "he", followed by two (any) characters, and an "o"

x = re.findall("pla..t", txt) # or "he..o" .. as the two characters that blank
print(x)

['planet']

In [42]:
# ^ character

txt = "hello planet"

# check if the string starts with 'hello'

x = re.findall("^hello", txt)
if x:
    print(True)

True

In [44]:
# $ character

txt = "hello planet"

# Check if the string ends with 'planet'

x = re.findall("planet$", txt)

if x:
    print(True)

True

In [57]:
# * character

txt = "hello planet"

# Search for a sequence that starts with "he", followed by 0 or more (any) characters, and an "o"

x = re.findall("he.*o", txt) # . as the connector and * to simbolize the end character is with o

print(x)

['hello']

In [62]:
# + character

txt = "hello planet"

# Search for a sequence that starts eith "he", followed by 1 or more (any) characters, and an "o"

x = re.findall("he.+o", txt)
print(x)

[]

In [64]:
# ? character

txt = "hello planet"

# Search for a sequence that starts with "he", followed by 0 or 1 (any) character, and an "o"

# followed by 0 or 1 (any) character : meaning that in the txt string, after the "he" character, followed by 0 or 1 character before the "o" appear.

x = re.findall("he.?o", txt)
print(x)

# this time we got no match because there were not zero, not one, nut two characters between "he" and the "o"

[]

In [68]:
# {} character

txt = "hello planet"

# search for a sequence that starts with "he", followed exactly 2 (any) characters, and an "o"

x = re.findall("he.{2}o", txt) # You have to define the specified number insid the curly brackets {}
print(x)

['hello']

In [69]:
# | character

txt = "The rain in Spain falls mainly in the plain!"

# Check if the string contains either "falls" or "stays"

x = re.findall("falls|stays", txt)
print(x)

if x:
    print(True)

['falls']
True

# Python RegEx - Special Sequences

In [71]:
# \A character

import re

txt = "The rain in Spain"

# Check if the string starts with "The"

x = re.findall("\AThe", txt)

print(x)

if x:
    print(True)

['The']
True

In [76]:
# \b character

txt = "The rain in Spain"

# Check if "ain" is present at the beginning of a word

x = re.findall(r"\bain", txt)

print(x)

if x:
    print(True)
else:
    print(False)
    
# Check if "ain" is present at the end of a word
x = re.findall(r"ain\b", txt)

print(x) # Will get 2 "ain" because there are 2 word that ends with "ain": rain and spain
if x:
    print(True)

[]
False
['ain', 'ain']
True

In [77]:
# \B character

txt = "The rain in Spain"

# Check if "ain" is present, but NOT at the beginning of a word

x = re.findall(r"\Bain", txt)

print(x)

if x:
    print(True)
else:
    print(False)
    
# Check if "ain" is present, but NOT at the end of a word

x = re.findall(r"ain\B", txt)

print(x)

if x:
    print(True)
else:
    print(False)

['ain', 'ain']
True
[]
False

In [78]:
# \d character

txt = "The rain in Spain"

# Check if the string contains any digits (numbers from 0-9)

x = re.findall("\d", txt)

print(x)

[]

In [79]:
# \D character

txt = "The rain in Spain"

# Return a match at every no-digit characater

x = re.findall("\D", txt)

print(x)

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']

In [81]:
# \s character

txt = "The rain in Spain"

# Return a match at every white-space character

x = re.findall("\s", txt)

print(x)

[' ', ' ', ' ']

In [82]:
# \S character

txt = "The rain in Spain"

# Return a match at every NON white-space character

x = re.findall("\S", txt)

print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

In [83]:
# \w character

txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\w", txt)

print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

In [84]:
# \W character

txt = "The rain in Spain"

#Return a match at every NON word character (characters from a to Z, digits from 0-9, and the underscore _ character)

x = re.findall("\W", txt) # Will print the whitespace character of txt

print(x)

[' ', ' ', ' ']

In [86]:
# \Z character

txt = "The rain in Spain"

#Check if the string ends with "Spain"

x = re.findall("Spain\Z", txt)

print(x)

['Spain']

# Python RegEx - Sets

In [88]:
# [...] set

import re

txt = "The rain in Spain"

# Check if the string has any a, r, or n characters

x = re.findall("[arn]", txt)

print(x)

['r', 'a', 'n', 'n', 'a', 'n']

In [89]:
# [... - ...] set

txt = "The rain in Spain"

# Check if the string has any characters between a and n

x = re.findall("[a-n]", txt)

print(x)

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']

In [91]:
# [^...] set

txt = "The rain in Spain"

# Check if the string has other characters than a, r, n

x = re.findall("[^arn]", txt) # Including the whitespace

print(x)

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']

In [92]:
# [0123] set

txt = "The rain in Spain"

# Check if the string has any 0, 1, 2, or 3 digits

x = re.findall("[0123]", txt)

print(x)

[]

In [93]:
# [0-9] set

txt = "8 times before 11:45 AM"

# Check if the string has any digits

x = re.findall("[0-9]", txt)

print(x)

['8', '1', '1', '4', '5']

In [94]:
# [+] set

txt = "8 times before 11:45 AM"

# Check if the string has any + characters

x = re.findall("[+]", txt)

print(x)

[]

# Python RegEx - The findall() Function

In [95]:
# Print a list of all matches

import re

txt = "The rain in Spain"

x = re.findall("ai", txt)

print(x)

['ai', 'ai']

In [96]:
# Return an empty list if no match was found

txt = "The rain in Spain"

x = re.findall("Portugal", txt)

print(x)

[]

# Python RegEx - The search() Function

In [100]:
# search for the first white-space character in the string

import re

txt = "The rain in Spain"

x = re.search("\s", txt)

print("The first white-space character is at the position: ", x.start())

# x.start() to know the indexing of specified position

The first white-space character is at the position:  3

In [102]:
txt = "The rain in Spain"

x = re.search("Portugal", txt)

print(x)

None

# Python RegEx - The split() Function

In [103]:
# Split at each white-space character

import re

txt = "The rain in Spain"

x = re.split("\s", txt)

print(x)

['The', 'rain', 'in', 'Spain']

In [106]:
# Split the string only at the first occurrences

txt = "The rain in Spain"

x = re.split("\s", txt, 1)

print(x)

['The', 'rain in Spain']

# Python RegEx - The sub() Function

In [107]:
# Replace every white-space character with the number 9

import re

txt = "The rain in Spain"

x = re.sub("\s", "9", txt)

print(x)

The9rain9in9Spain

In [109]:
# Replace the first 2 occurrences

txt = "The rain in Spain"

x = re.sub("\s", "9", txt, 2)

print(x)

The9rain9in Spain

# Python RegEx - Match Object

In [111]:
# Do a search that will return a Match Object

import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) # This will print an object

<re.Match object; span=(5, 7), match='ai'>

In [119]:
# Print the position (start - and end- position) of the first match occurrence

# The regular expression looks for any words that starts with an upper case "S"

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [123]:
# Print the string passed into the function

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string) # string passed into the function

The rain in Spain

In [126]:
# Print the part of the string where there was a match

# The regular expression looks for any words that starts with an upper case "S"

import re

txt = "The rain in Spain"

x = re.search(r"\bS\w+", txt)

print(x.group())

Spain

# Python PIP - Using a Package

In [128]:
# Import and use "camelcase"

import camelcase 

c = camelcase.CamelCase() # using the camelcase library, pick the CamelCase() function inside it so we write c = camelcase.CamelCase() 

txt = "hello world" 

print(c.hump(txt)) # c.hump(txt) will capitalizes the first letter of each word

Hello World

# Python Try Except - Exception Handling

In [16]:
# The try block will generate an exception, because x is not defined

try:
    print(x) # Will get an error because x is not defined so it goes straight to except
except:
    print("An exception occurred")

-1

In [15]:
# This will raise an exception, because x is not defined

print(x)

-1

# Python Try Except - Many Exceptions

In [7]:
# Print one message if the try block raises a NameError and another for other errors

try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

Variable x is not defined

# Python Try Except - Else

In [10]:
# In this example, the try block does not generate any error

try:
    print("Bonjour")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Bonjour
Nothing went wrong

# Python Try Except - Finally

In [11]:
try:
    print(x)
except:
    print("Something went wrong")
finally:
    print("the 'try except' is finished")

Something went wrong
the 'try except' is finished

In [13]:
# Try to open and write to a file that is not writable

try:
    f = open("demofile.txt")
    try:
        f.write("Lorem Ipsum")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong when writing to the file!!!")

Something went wrong when writing to the file!!!

# Python Try Except - Raise an exception

In [14]:
# Raise an error and stop the program if x is lower than 0

x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero") # Using the raise keyword and Exception() outside the information to print

Exception: Sorry, no numbers below zero

In [25]:
# Raise a TypeError if x is not an integer

x = "hello"

if not type(x) is int: 
    raise TypeError("Only integers are allowed") # The kind of error we input have to be corresponded to the ones that will be error

TypeError: Only integers are allowed

# Python User Input - User Input

In [29]:
username = input("Enter username: ")
print("Username is: " + username)

Enter username: taylorswift13
Username is: taylorswift13

# Python String Formatting - String format()

In [31]:
# Add a placeholder where you want to display the price

price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [34]:
# Format the price to be displayed as a number with two decimals

price = 49
txt = "The price is {:.2f} dollars" # Write :.2f to display decimal of 2 
print(txt.format(price))

The price is 49.00 dollars

# Python String Formatting - String format() - Python String format() Method

In [1]:
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format

txt = "Foor only {price:.2f} dollars!"
print(txt.format(price=49))

Foor only 49.00 dollars!

In [3]:
# Using different placeholder values

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John", 36)
txt3 = "My name is {}, I'm {}".format("John", 36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [4]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

# Use ":<" to left-align the value

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [6]:
# :> righ-align

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [7]:
# :^ center align

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [11]:
# := left most position

txt = "We have {:=8} chickens."
print(txt.format(49))

We have       49 chickens.

In [12]:
# :+

txt = "The temperature is between {:+} and {:+} degrees celcius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celcius.

In [13]:
# :-

txt = "The temperature is between {:-} and {:-} degrees celcius."
print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celcius.

In [14]:
# :

txt = "The temperature is between {: } and {: } degrees celcius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celcius.

In [16]:
# :, thousands separator

txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [18]:
# :_

txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [22]:
# :b

txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [24]:
# :d

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [25]:
# :e

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [26]:
# :E

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [27]:
# Use "f" to convert a number into a fixed poiny number, default with 6 decimals, but use a period followed by a number to specify the number of decimals

txt = "The price is {:.2f} dollars."
print(txt.format(45))

# without the .2f inside the placeholder, this number will be displayed like this

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

In [28]:
# Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

# same example, but with a lower case f

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [29]:
# :o

txt = "The octal version of {0} is {0:o}."

print(txt.format(10))

The octal version of 10 is 12.

In [30]:
# :x

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [35]:
# :X

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

In [36]:
# :%

txt = "You scored {:%}"
print(txt.format(0.25))

# without any decimals

txt = "You scored {:.0%}" # : as the formatting type, . as the decimal part, 0 because you want 0 number after the decimal and % as the percentage format
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

# Python String Formatting - Multiple Values

In [36]:
print(txt.format(price, itemno, count))

In [37]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

# Python String Formatting - Index Numbers

In [38]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [39]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

# Python String Formatting - Named Indexes

In [40]:
myorder = "I have a {carname}, it is a {model}"
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang