In [1]:
print("Hello World")

Hello World

In [78]:
print("Carlos Sainz Jr.")

Carlos Sainz Jr.

In [3]:
print("Fernando Alonso <3 Taylor Swift")

Fernando Alonso <3 Taylor Swift

# Python Syntax - Python Indentation

In [6]:
if 5 > 2:
    print("Five is greater than two!") #It's essential to have indentation in python especially with if for while etc

Five is greater than two!

In [8]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Python Syntax - Python Variables

In [11]:
x = 5
y = "Hello, World!"

print(x, y)
print(y)

5 Hello, World!
Hello, World!

# Python Comments

In [12]:
#This is a comment
print("Hello World")

Hello World

# Python Comments - Multiline Comments

In [13]:
"""
This is a comment
written in
more than just one line
"""
print("Hello World!")

Hello World!

# Python Variables

In [1]:
x = 5
y ="John"
print(x)
print(y)

5
John

In [2]:
x = 4
x = "Sally"
print(x)

Sally

# Python Variables - Casting

In [5]:
# Casting is a method to specify the data type of a variable

x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

print(x, y, z)
print(x)
print(y)
print(z)

3 3 3.0
3
3
3.0

# Python Variables - Get the Type

In [6]:
# Get the variable type by using type() function

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Python Variables - Single or Double Quotes?

In [7]:
x = "John"
# is the same as
x = 'John'

# Python Variables - Case-Sensitive

In [11]:
a = 4
A = "Sally"
# A will not overwrite a
print(a)
print(A)
print(a)

4
Sally
4

# Python Variables - Variable Names

In [1]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [3]:
# Illegal variable names:

2myvar = "John"
my-var = "Johnny"
my var = "Johnsson"

print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid syntax (Temp/ipykernel_17144/3111199336.py, line 3)

# Python Variables - Multi Words Variable Names

In [4]:
# Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

# Python Variables - Many Values to Multiple Variables

In [5]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# Python Variables - One Value to Multiple Variables

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Python Variables - Unpack a Collection

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits # unpacking by creating a multiple of variable equal to the amount of list in the tuple and equals them to the name of the tuple 
print(x)
print(y)
print(z)

apple
banana
cherry

# Python Variables - Output Variables

In [9]:
x = "Python is awesome"
print(x)

Python is awesome

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z) # separated by a comma

Python is awesome

In [13]:
# use the + operator to output multiple variables
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [16]:
# operator + works as a mathematical operator
x = 5
y = 10
print(x + y)

15

In [17]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
# The best way is to use commas
x = 5
y = "John"
print(x, y)

5 John

# Python Variables - Global Variables

In [20]:
# Create a variable outside of a function, and use it inside the function

x= "awesome"

def myfunc():
    print("Python is " + x)
    
myfunc() # Calling the function which already states a print() function

Python is awesome

In [22]:
# Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is "+ x) # will give an output python is fantastic because the last entry of x is x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# Python Variables - The global Keyword

In [26]:
# If you use the global keyword, the variable belongs to the global scope

def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("Python is "+ x)

Python is fantastic

In [27]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword

x = "awesome"

def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

# Python Data Types - Getting the Data Type

In [28]:
x = 5
print(type(x))

<class 'int'>

# Python Data Types - Setting the Data Type

In [30]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [31]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [32]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [33]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [34]:
x = ["apple","banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [35]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [36]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [37]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [38]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [39]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [40]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [42]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [43]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [45]:
x = memoryview(bytes(5)) # like an address in c++ 
print(x)
print(type(x))

<memory at 0x0000023B4F5D3640>
<class 'memoryview'>

In [46]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# Python Data Types - Setting the Specific Data Type

In [47]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [48]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [49]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [50]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [51]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [52]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [53]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [54]:
x = dict(name="John", age=36)
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [55]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [56]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [57]:
x = bool(5)
print(x)
print(type(x))

True
<class 'bool'>

In [58]:
x = bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [59]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [60]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000023B4F5D34C0>
<class 'memoryview'>

# Python Numbers

In [61]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [62]:
# Integers

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [63]:
# Float

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [65]:
# Float

x = 35e3
y = 12E4
z = -87.7e100

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

35000.0
120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

In [67]:
# Complex : the letter 'j' as the imaginary part

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Python Numbers - Type Conversion

In [68]:
# Convert from one type to another

x = 1    # int
y = 2.8  # float
z = 1j   # complex

# convert from int to float
a = float(x)

# convert from float to int
b = int(y)

# convert from int to complex
c = complex(x) # converting numbers to complex will result the number + 0j 

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Numbers - Random Number

In [70]:
# Import the random module, and display a random number between 1 and 9

In [69]:
import random

print(random.randrange(1,10)) # operating random module with randrange which is a function to do a range of a random number function, write random.randrange(1,10)
                              # and by having a range(1,10) will give you a range between 1-9 because the last digit of the range doesn't count

8

# Python Casting

# Python Casting - Specify a Variable Type

In [71]:
# Integers
x = int (1)  # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [73]:
# Floats
x = float (1)  # x will be 1.0
y = float(2.8) # y will be 2.8
z = float("3") # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [77]:
# Strings
x = str("s1")  # x will be s1
y = str(2)     # y will be 2
z = str(3.0)   # z will be 3.0

print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings

# Python Strings - Strings

In [1]:
print("Hello")
print('Hello')

Hello
Hello

# Python Strings - Assign String to a Variable

In [2]:
a = "Hello"
print(a)

Hello

# Python Strings - Multiline Strings

In [5]:
# Multiline strings with three double quotes or three single quotes
a = """Lorem ipsum
magna carlos aliqua.
"""
print(a)

#in the result, the line breaks are inserted at the same position as in the code

Lorem ipsum
magna carlos aliqua.

# Python Strings - Strings are Arrays

In [6]:
# Get the character at position 1 (remember that the first character has the position of 0)
a = "Hello, World!"
print(a[1])

e

# Python Strings - Looping Through a String

In [9]:
for x in "banana":
    print(x, x)

b b
a a
n n
a a
n n
a a

# Python Strings - String Length

In [11]:
# the len() function returns the length of a string

a = "Hello, World"
print(len(a)) # using the len() function to know the string length

12

# Python Strings - Check String

In [18]:
# Check if "free" is present in the following text

txt = "The best things in life are free!"
print("free" in txt) # it will give a true boolean

True

In [19]:
# Print only if "free" is present

txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [22]:
# Check if "expensive" is NOT present in the following text

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [23]:
# Print only if "expensive" is NOT present

txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

# Python Strings - Slicing Strings

# Python Strings - Slicing

In [24]:
# Get the characters from position 2 to position 5 (not included)
b = "Hello, World"
print(b[2:5])

llo

# Python Strings - Slice From the Start

In [25]:
# Get the characters from the start to position 5 (not included)

b = "Hello, World"
print(b[:5])

Hello

# Python Strings - Slice To the End

In [28]:
# Get the characters form position 2, and all the way to the end

b = "Hello, World!"
print(b[2:])

llo, World!

# Python Strings - Negative Indexing

In [32]:
""" Get the characters:
From: "o" in "World!" (position -5)
To, but not included: "d" in "World!" (position -2):
"""

b = "Hello, World!"
print(b[-5:-2])

orl

# Python Strings - Modify Strings

# Python Strings - Upper and Lower Case

In [33]:
# The upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [34]:
# the lower() method returns the string in lower case

a = "Hello, World!"
print(a.lower())

hello, world!

# Python Strings - Remove Whitespace

In [36]:
# The strip() method removes any whitespace from the beginning or the end

a = "Hello, World!"
print(a.strip())

Hello,   World!

# Python Strings - Replace String

In [38]:
# the replace() method replaces a string with another string

a = "Hello, World!"
print(a.replace("Hello", "Ferrari"))

Ferrari, World!

# Python Strings - Split String

In [42]:
# The split() method splits the string into substrings if it finds instances of the separator 

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# Python Strings - String Concatenation

In [46]:
# Merge variable a with variable b into variable c

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python Strings - Format - Strings

# Python Strings - String Format

In [47]:
# We cannot combine strings and numbers like this

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [49]:
# Use the format() method to insert numbers into strings

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age)) # Takes the value of the variable age, puts it in {} format

My name is John, and I am 36

In [51]:
# Try with a few arguments to take place in the placeholders

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [52]:
# Try it with index numbers in the {}

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
# index starting in 0

I want 49.95 dollars for 3 pieces of item 567.

# Python Strings - Escape Characters

In [53]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes

txt = "we are the so-called "Vikings" from the north. "

# To fix this problem, use the escape character \"

SyntaxError: invalid syntax (Temp/ipykernel_19976/3152277789.py, line 3)

In [54]:
# The escape character allows you to use double quotes when you normally would not be allowed

txt = "We are the so-called \"Vikings\" from the north."

print(txt)

We are the so-called "Vikings" from the north.

In [57]:
# Other escape character

txt1 = "It\'s alright"
print(txt1)
txt2 = "This will insert one \\ (backlash)"
print(txt2)
txt3 = "Hello\nWorld!"
print(txt3)
txt4 = "Hello\rWorld!"
print(txt4)
txt5 = "Hello\tWorld!"
print(txt5)
txt6 = "Hello \bWorld!" # This will erases one character (backspace)
print(txt6)
txt7 = "\110\145\154\154\157" # A backslash followed by three integers will result in a octal value
print(txt7)
txt8 = "\x48\x65\x6c\x6c\x6f" # A backslash followed by an 'x' and a hex number represents a hex value
print(txt8)

It's alright
This will insert one \ (backlash)
Hello
World!
World!
Hello	World!
Hello World!
Hello
Hello

# Python Booleans

# Python Booleans - Boolean Values

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
# Print a message based on wheter the condition is true or false

a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

# Python Booleans - Evaluate Values and Variables

In [5]:
# Evaluate a string and a number

print(bool("Hello"))
print(bool(15))

True
True

In [6]:
# Evaluate two variables

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Booleans - Most Values are True

In [8]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

# Python Booleans - Some Values are False

In [9]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [11]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass() 
print(bool(myobj)) # a class of an __len__ func is always false

False

# Python Booleans - Functions can Return a Boolean

In [1]:
def myFunction():
    return True

print(myFunction())

True

In [4]:
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [9]:
# Check if an object is an integer or not

x=200
print(isinstance(x, int))

True

# Python Operators

In [10]:
print(10+5)

15

# Python Operators - Arithmetic Operators

In [11]:
x = 5
y = 3

In [13]:
print("Addition = ", x+y)
print("Subtraction = ", x-y)
print("Multiplication = ", x*y)
print("Division = ", x/y)
print("Modulus = ", x%y)
print("Exponentiation = ", x**y)
print("Floor division = ", x//y) # the floor division rounds the result down to the nearest whole number, most of the times the divison result that is the nearest of it

Addition =  8
Subtraction =  2
Multiplication =  15
Division =  1.6666666666666667
Modulus =  2
Exponentiation =  125
Floor division =  1

# Python Operators - Assignment Operators

In [1]:
x = 5
print(x)

5

In [2]:
x = 5
x+=3
print("+=3 Operator: ", x)

+=3 Operator:  8

In [3]:
x = 5
x-=3
print("-=3 Operator: ", x)

-=3 Operator:  2

In [4]:
x = 5
x*=3
print("*=3 Operator: ", x)

*=3 Operator:  15

In [5]:
x = 5
x/=3
print("/=3 Operator: ", x)

/=3 Operator:  1.6666666666666667

In [6]:
x=5
x%=3
print("%=3 Operator: ", x)

%=3 Operator:  2

In [7]:
x=5
x//=3
print("//=3 Operator: ", x)

//=3 Operator:  1

In [8]:
x=5
x**=3
print("**=3 Operator: ", x)

**=3 Operator:  125

In [9]:
x=5
x &= 3
print("&=3 Operator: ", x)

&=3 Operator:  1

In [10]:
x=5
x|=3
print("|=3 Operator: ", x)

|=3 Operator:  7

In [11]:
x=5
x^=3
print("^=3 Operator: ", x)

^=3 Operator:  6

In [12]:
x=5
x>>=3
print(">>=3 Operator: ", x)

>>=3 Operator:  0

In [13]:
x=5
x<<=3
print("<<=3 Operator: ", x)

<<=3 Operator:  40

# Python Operators - Comparison Operators

In [14]:
x = 5
y = 3

print(x == y)

False

In [15]:
x = 5
y = 3

print(x != y)

True

In [16]:
x = 5
y = 3

print(x > y)

True

In [17]:
x = 5
y = 3

print(x < y)

False

In [18]:
x = 5
y = 3

print(x >= y)

True

In [19]:
x = 5
y = 3

print(x <= y)

False

# Python Operators - Logical Operators

In [20]:
x = 5

print(x > 3 and x < 10) # Returns True because for it is in fact true for BOTH statements

True

In [21]:
x = 5

print(x > 3 or x < 4) # Returns True because one of the statements proved True which is 5 > 3

True

In [22]:
x = 5

print(not(x > 3 and x < 10)) # not is used to reverse or negate the result what's inside the ()

False

# Python Operators - Identity Operators

In [23]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z) # Returns True because z is the same object as x because of the same element AND the same memory location of z
print(x is y) # Returns False because eventhough x and y have the same content or element, but they have different memory location
print(x == y) # Returns True because they have the same element, doesn't matter about the memory location

True
False
True

In [24]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z) # Returns False because they have the same content and memory location
print(x is not y) # Returns True Because they do have different memory location eventhough with the same content
print(x != y) # Returns False because they do have the same content so x is equal to y

False
True
False

# Python Operators - Identity Operators

In [25]:
x = ["apple", "banana"]

print("banana" in x)

True

In [26]:
x = ["apple", "banana"]

print("pinapple" not in x)

True

# Python Operators - Bitwise Operators

In [28]:
"""
The & operator compares each bit and set it to 1 
if both are 1, otherwise it is set to 0
"""

"""
6 = 0000000000000110
7 = 0000000000000111
--------------------
4 = 0000000000000110
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

'\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [30]:
print(6 & 3)

""" Karena 
6 = 0000000000000110
3 = 0000000000000011
--------------------
Maka yang sama ada di 2 digit paling belakang, sehingga:
2 = 0000000000000010
====================

"""

2

' Karena \n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\nMaka yang sama ada di 2 digit paling belakang, sehingga:\n2 = 0000000000000010\n====================\n\n'

In [33]:
print(6 & 7)

6

In [ ]:
"""
The | operator compares each bit and set it to 1 
if one or both is 1, otherwise it is set to 0
"""

"""
6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

In [34]:
print(6|3)

7

In [ ]:
"""
The ^ operator compares each bit and set it to 1 
if only one is 1, otherwise (if both are 1 or both are 0)
it is set to 0
"""

"""
6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

In [35]:
print(6^3)

5

In [ ]:
"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).
"""

"""
Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

 2 = 0000000000000010
-3 = 1111111111111101 

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

In [36]:
print(~3)

-4

In [37]:
print(~2)

-3

In [ ]:
"""
The << operator inserts the specified number of 0's 
(in this case 2) from the right and let the same amount 
of leftmost bits fall off
"""

"""
If you push 00 in from the right:
 3 = 0000000000000011
 becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

In [38]:
print( 3 << 2)

12

In [39]:
print (9 << 3)

72

In [ ]:
"""
The >> operator moves each bit the specified number of times to the right. 
Empty holes at the lest are filled with 0's
"""

"""
If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
4= 0000000000000100
"""

In [40]:
print(8 >> 2)

2

In [41]:
print(8 >> 1)

4

# Python Operator - Operator Precedence

In [42]:
print((6+3) - (6+3))

0

In [43]:
print(100 + 5 *3)

115

In [44]:
print(100 - 3 ** 3)

73

In [45]:
print(100 + ~3)

96

In [46]:
print(100 + 5 * 3)

115

In [47]:
print(100 - 5 * 3)

85

In [48]:
print( 8 >> 4 - 2)

2

In [49]:
print(6 & 2 + 1)

2

In [50]:
print(6 ^ 2 + 1)

5

In [51]:
print(6 | 2 + 1)

7

In [52]:
print(5 == 4 + 1)

True

In [53]:
print(not 5 == 5)

False

In [54]:
print(1 or 2 and 3)

1

In [55]:
print(4 or 5 + 10 or 8)

4